@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel+Decorative:900|Croissant+One|Fascinate|Fascinate+Inline|Limelight|Sigmar+One');
@import './variables.scss';

html { font-size: 1em; }

body {
    background-color: $lightBG;
    color: $darkTXT;
    font-family: Raleway;
    font-weight: 600;
    line-height: 1.45;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    line-height: 1.2;
    text-align: center;
}

h1 {
    font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

small, .font_small {
    font-size: 0.75em;
}

.masthead {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  grid-area: masthead;
  width: 100%;
  .masthead-title, .masthead-subtitle {
    color: #ffb;
    font-family: $f4;
    font-size: 8vh;
    text-align: left;
  }
}
