@import '../node_modules/bulma/bulma.sass';
$height_header: 8vh;
$height_page: 80vh;
$height_footer: 12vh;
$silver: #a5acaf;
$grey: #4f4f4f;
$darkest: #003333;
$lightest: #ddddff;
$fbody: 'montserrat',
'avenir',
sans-serif;
$f1: 'croissant one';
$grad1: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
$grad2: linear-gradient(145deg, #005858 0%, #003333 100%);
$grad3: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
$grad4: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
%center-center {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:root {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
}

html {
    font-size: 10px;
    overflow: hidden;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-image: $grad4;
    color: $lightest;
    font-family: $fbody;
    font-weight: 100;
    line-height: 1.45;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-family: $fbody;
    font-weight: 700;
}

h1,
h2,
h3,
h4 {
    font-weight: inherit;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: $f1;
}

h1 {
    font-size: 9vmax;
}

h2 {
    font-size: 6vmax;
}

h3 {
    font-size: 4vmax;
}

h4 {
    font-size: 3vmax;
}

small,
.font_small {
    font-size: 0.75em;
}

input {
    outline: none !important;
}

a,
a:-webkit-any-link {
    text-decoration: none !important;
}

.tab-header {
    margin: 1vh auto;
    font-size: 4vh;
    font-weight: bold;
}

.logo-font {
    -webkit-box-shadow: inset 3px 2px 0 $silver;
    box-shadow: inset 3px 2px 0 $silver;
    border-radius: 0 100px 100px 0;
    background: $lightest;
    color: $darkest;
    font-size: 12vmin;
    padding: 4px 40px 4px 16px;
    text-shadow: 2px 1px 0 $silver;
}

.app-wrapper {
    height: 100%;
    width: 100%;
}

.home {
    @extend %center-center;
    height: 80%;
}

.header {
    -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.5);
    background: $lightest;
    color: $darkest;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    height: calc(10vh+4px);
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-transition: all .33s linear;
    transition: all .33s linear;
    z-index: 500;
    &.scrolling {
        top: calc(0 - $height_header);
        height: 100%;
    }
}

.footer {
    background: $silver;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: $height_footer;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .33s linear;
    transition: all .33s linear;
    z-index: 500;
    &.scrolling {
        bottom: calc(0 - $height_footer);
        height: 100%;
    }
}

.page {
    background-image: linear-gradient(125deg, #29323c 0%, #3d4956 100%);
    background-blend-mode: multiply, multiply;
    color: $lightest;
    margin: 0;
    max-height: $height_page;
    min-height: $height_page;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: $height_header;
    bottom: $height_footer;
    width: 100%;
    -webkit-transition: all .33s linear;
    transition: all .33s linear;
    z-index: 500;
    &.scrolling {
        top: 0;
        bottom: 0;
        height: 100%;
        max-height: 100vh;
        min-height: 100vh;
    }
}

.beverage-browser {
    position: relative;
}

.variable-list-header {
    background: $darkest;
}

.variable-list-nav-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background: $darkest;
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: v-list-nav;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 6px 0;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    .variable-list-nav-link {
        background: transparent;
        height: 100%;
        text-align: center;
        a {
            background: $lightest;
            color: #555555;
            border-radius: 5px;
            display: inline-block;
            padding: 4px 12px;
            margin: 5px auto;
            &.active {
                background: #444444;
                color: #616161;
            }
        }
        .variable-list-nav-link-text {
            font-family: $f1;
            font-size: 4.5vmin;
            font-weight: 300;
            text-decoration: none;
        }
    }
}

.variable-list-nav-link-text {
    font-size: 5vmin;
    text-decoration: none;
}

.variable-list {
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.list-item-clickable {
    border-bottom: solid 1px #888888;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    height: 5vh;
    margin: 0;
    padding: 2px 10px;
    .list-item-name {
        display: block;
        height: 5vh;
        margin: 0 auto 1px auto;
        padding: 0;
        width: 100%;
    }
}

.back-button {
    @extend %center-center;
    width: initial;
    grid-area: back;
    color: $darkest;
}

.menu-button {
    @extend %center-center;
    color: $darkest;
}

.masthead {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $darkest;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-area: masthead;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    h2 {
        font-family: $f1;
        font-size: 8vmin;
        line-height: 10vh;
        text-align: center;
    }
}

.main {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.nav {
    background: $lightest;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    ul {
        background: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .nav-link {
        border-right: solid 1px #777777;
        background: transparent;
        color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
        max-width: 25vw;
        width: 100%;
        height: 100%;
        a {
            background: transparent;
            color: $darkest;
            font-weight: 600;
            height: 100%;
            margin: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            max-width: 25vw;
            width: 100%;
        }
        a.active {
            color: $lightest;
            background: #555555;
        }
    }
}

.nav-link a svg {
    height: 2em;
    width: 2em;
    margin-top: 6px;
}

.search-wrapper {
    position: relative;
}

.search-form-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.search-form {
    background: $lightest;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    label {
        display: none;
    }
    input::-webkit-input-placeholder {
        color: $silver !important;
    }
    input:-moz-placeholder {
        color: $silver !important;
    }
    input::-moz-placeholder {
        color: $silver !important;
    }
    input:-ms-input-placeholder {
        color: $silver !important;
    }
    .search-form-input {
        margin: 0 auto;
        border: none;
        background: transparent;
        color: $darkest;
        font-size: 4vh;
        text-align: center;
        width: 70%;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        &.pulse {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        &.shrink {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    }
}

.column.column-recipe-entries {
    margin: auto;
    background: #eecccc;
    .id-line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.search-results-list-wrapper {
    .search-results-list {
        background: transparent;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}

.search-result-line-item {
    height: 20vmax;
    border-radius: 20px;
    padding: 0;
    width: 90%;
    margin: 2.5vmax auto;
    overflow: hidden;
    -webkit-transition: all 0.66s ease-in-out;
    transition: all 0.66s ease-in-out;
    .link {
        width: 100%;
        height: 100%;
        padding: 1vh 2vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &:hover {
            background: rgba(0, 0, 0, 0.25);
        }
        .name {
            color: $lightest;
            font-family: $f1;
            font-size: 8vh;
            max-width: 100%;
            margin: 0 2vw;
            padding: 0;
            width: 100%;
            text-align: left;
            line-height: 1;
        }
    }
}

.recipe-hero {
    max-height: 33vh;
    position: fixed;
    top: 8vh;
}

.recipe-slide {
    position: absolute;
    top: 33vh;
}

.feature-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: center center;
    height: 700px;
}

.info-table {
    .line {
        background: $lightest;
        color: $darkest;
        .label {
            display: inline-block;
            text-align: center;
            width: 25%;
            .label-text--left {
                font-family: serif;
                font-weight: bold;
            }
        }
        .info {
            display: inline-block;
            width: 75%;
            font-weight: 100;
            text-align: center;
        }
    }
}

.ingredients-table {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    text-align: center;
    width: 100vw;
    background: $darkest;
    color: $lightest;
    border-spacing: 0;
    td {
        width: 50%;
        height: 20px;
        font-size: 1.5em;
        border-top: solid 1px black;
    }
    .td-l {
        width: 50%;
        text-align: left;
    }
    .td-r {
        width: 50%;
        text-align: left;
    }
}

.feature-title-wrapper {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 3vh auto 2vh auto;
    padding: 0;
    .feature-title-text {
        background: $lightest;
        border-radius: 6px;
        color: $darkest;
        font-size: 8vmin;
        padding: 6px 12px;
        margin: 0;
    }
}

.how-to {
    background: $lightest;
    color: $darkest;
    padding: 6px 12px;
    font-size: 1.6em;
    font-weight: lighter;
    letter-spacing: 0.4px;
    text-align: left;
}

.randomizer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60vh;
}

#button-random {
    // background: $lightest;
    border-radius: 2vh;
    color: $lightest;
    font-family: $f1;
    font-size: 8vmin;
    padding: 2vh 4vw;
}

.add-recipe {
    @extend %center-center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    .add-recipe-form {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }
}

.loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    span {
        display: block;
        font-size: 5vh;
        font-weight: 900;
        text-shadow: 3px 3px 1px #000;
    }
}