$height_header: 10vh;
$height_footer: 15vh;

$silver: #a5acaf;
$lightBG: #d9dbf7;
$darkTXT: #000035;

$f1: 'Fascinate', cursive;
$f2: 'Croissant One', cursive;
$f3: 'Fascinate Inline', cursive;
$f4: 'Cinzel Decorative', cursive;
$f5: 'Limelight', cursive;
$f6: 'Sigmar One', cursive;
$f7: 'Alfa Slab One', cursive;