.nav {
  background: #05353e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.nav ul {
  display: flex;
  list-style: none;
  width: 100%;
}

.nav .nav-link {
  color: fff;
  display: block;
  margin: 0;
  padding: 0;
  width: 25%;
}

.nav .nav-link a {
  background: darkslategray;
  border-radius: 12px;
  color: skyblue;
  margin: 0;
  padding: 12px 18px;
}

.nav .nav-link a.active {
  color: #ffff55;
}
